<%# 
<%= link_to "Add Patient", new_user_patient_path(@user) %><br> %>

<table>
    <col width="120">
    <col width="180">
    <tr>
        <th align="left">Patient Name</th>
        <th align="left"> Patient Symptoms</th>
    </tr>
    <% @patients.each do |patient| %>
        <tr>
            byebug
            <td><%= link_to patient.name, patient_path(patient.users.id, patient)%></td>
            <td><%= patient.symptoms %></td><br>
        </tr>
    <% end %>
</table>
